.btn {
  padding: 5px;
  background-color: rgb(107, 107, 107);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.input_todo {
  display: flex;
  margin-left: 35%;
}
.todo_element {
  list-style: none;
}
.todo_element_cheked {
  list-style: none;
  text-decoration: line-through;
}
.todo {
  display: flex;
  justify-content: space-between;
  width: 25%;
  padding: 10px;
  margin-left: 30%;
  border: 1px solid black;
}
.remove {
  background-color: inherit;
  border: none;
  color: red;
  cursor: pointer;
  margin-right: 5px;
}
