.containerCounter {
  margin: 0 auto;
  width: 25%;
}
.header {
  width: 25%;
  margin: 0 auto;
}
.btn {
  padding: 5px;
  background-color: rgb(107, 107, 107);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.decrement {
  margin-left: 115px;
}
