.link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}
.links {
  margin: 50px auto;
  width: 600px;
}
.link_todo {
  margin-left: 100px;
}
.link_asyncTodo {
  margin-left: 100px;
}
